body {
  color: #333333;
}
.list-group {
  justify-content: space-between;
  display: flex;
}
.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  display: block;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-color: black;
  margin-bottom: 20px;
  width: 1000px;
  height: 500px;
  padding-left: 30px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 150px;
  width: 210px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.container {
  display: flex;
  gap: 1000px;
  padding: 15px;
  background: #ded9d970;
}

.collapse navbar-collapse {
  padding-right: 200px;
  padding-left: 200px;
}